@import url('https://fonts.googleapis.com/css2?family=Nova+Square&display=swap');

/*
=============== 
Fonts
===============
*/
@import url("https://fonts.googleapis.com/css?family=Open+Sans|Roboto:400,700&display=swap");

/*
=============== 
Variables
===============
*/

:root {
  /* dark shades of primary color*/
  --clr-primary-1: hsl(205, 86%, 17%);
  --clr-primary-2: hsl(205, 77%, 27%);
  --clr-primary-3: hsl(205, 72%, 37%);
  --clr-primary-4: hsl(205, 63%, 48%);
  /* primary/main color */
  --clr-primary-5: hsl(205, 63%, 48%);
  /* lighter shades of primary color */
  --clr-primary-6: hsl(205, 89%, 70%);
  --clr-primary-7: hsl(205, 90%, 76%);
  --clr-primary-8: hsl(205, 86%, 81%);
  --clr-primary-9: hsl(205, 90%, 88%);
  --clr-primary-10: hsl(205, 100%, 96%);
  /* darkest grey - used for headings */
  --clr-grey-1: hsl(209, 61%, 16%);
  --clr-grey-2: hsl(211, 39%, 23%);
  --clr-grey-3: hsl(209, 34%, 30%);
  --clr-grey-4: hsl(209, 28%, 39%);
  /* grey used for paragraphs */
  --clr-grey-5: hsl(210, 22%, 49%);
  --clr-grey-6: hsl(209, 23%, 60%);
  --clr-grey-7: hsl(211, 27%, 70%);
  --clr-grey-8: hsl(210, 31%, 80%);
  --clr-grey-9: hsl(212, 33%, 89%);
  --clr-grey-10: hsl(210, 36%, 96%);
  --clr-white: #fff;
  --clr-red-dark: hsl(360, 67%, 44%);
  --clr-red-light: hsl(360, 71%, 66%);
  --clr-green-dark: hsl(125, 67%, 44%);
  --clr-magenta: hsl(298, 56%, 45%);
  --clr-black: #222;
  --clr-gold: #c59d5f;
  --ff-primary: "Merriweather", sans-serif;
  --ff-secondary: "Open Sans", sans-serif;
  --transition: all 0.3s linear;
  --spacing: 0.25rem;
  --radius: 0.5rem;
  --light-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  --dark-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
  --max-width: 1170px;
  --fixed-width: 620px;
}

/*
=============== 
Global Styles
===============
*/

*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: white;
  font-family: var(--ff-secondary);
  color: var(--clr-grey-1);
  line-height: 1.5;
  font-size: 0.875rem;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}

img:not(.logo) {
  width: 100%;
}

img {
  display: block;
}

h1,
h2,
h3,
h4 {
  letter-spacing: var(--spacing);
  line-height: 1.25;
  margin-bottom: 0.25rem;
  font-family: var(--ff-primary);
}

h1 {
  font-size: 3rem;
  text-transform: capitalize;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.25rem;
}

h4 {
  font-size: 0.875rem;
}

p {
  color: var(--clr-grey-5);
}

.center-heading {
  margin: auto;
  width: 61%;
  padding: 1rem;
}
@media screen and (min-width: 800px) {
  h1 {
    font-size: 4rem;
  }

  h2 {
    font-size: 2.5rem;
  }

  h3 {
    font-size: 1.75rem;
  }

  h4 {
    font-size: 1rem;
  }

  body {
    font-size: 1rem;
  }

  h1,
  h2,
  h3,
  h4 {
    line-height: 1;
  }
}

/*
=============== 
Hero Image
===============
*/

/* hero image */
#hero-image {
  height: 40rem;
  /* width: 100%; */
  overflow: hidden;
  background: url(../images/hero-studio.jpg) no-repeat center center;
  box-shadow: var(--light-shadow);
}

#hero-image-inspire {
  height: 40rem;
  /* width: 100%; */
  overflow: hidden;
  background: url(../images/hero-inspiration.png) no-repeat center center;
  box-shadow: var(--light-shadow);
}

#hero-image-studio-text {
  width: 40rem;
  padding-top: 5rem;
  padding-bottom: 2rem;
  padding-left: 15rem;
}

#hero-image-studio-text p {
  padding-bottom: 2rem;
}

/*
=============== 
Nav Bar
===============
*/

nav {
  background: var(--clr-white);
  box-shadow: var(--light-shadow);
}

.nav-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
}

.nav-toggle {
  font-size: 1.5rem;
  color: var(--clr-primary-5);
  background: transparent;
  border-color: transparent;
  transition: var(--transition);
  cursor: pointer;
}

.nav-toggle:hover {
  color: var(--clr-primary-1);
  transform: rotate(90deg);
}

.active {
  border-bottom: 1px solid coral;
  margin-top: 1vw;
}

.logo {
  height: 15vh;
}

.links a {
  color: var(--clr-grey-3);
  font-size: 1rem;
  text-transform: capitalize;
  letter-spacing: var(--spacing);
  display: block;
  padding: 0.5rem 1rem;
  transition: var(--transition);
}

.links a:hover {
  background: var(--clr-primary-8);
  color: var(--clr-primary-5);
  padding-left: 1.5rem;
}

.social-icons {
  display: none;
}

.links {
  height: 0;
  overflow: hidden;
  transition: var(--transition);
}

.show-links {
  height: 10rem;
}

@media screen and (min-width: 800px) {
  .nav-center {
    max-width: 1170px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
  }

  .nav-header {
    padding: 0;
  }

  .nav-toggle {
    display: none;
  }

  .links {
    height: auto;
    display: flex;
  }

  .links a {
    padding: 0;
    margin: 0 0.5rem;
  }

  .links a:hover {
    padding: 0;
    background: transparent;
  }

  .social-icons {
    display: flex;
  }

  .social-icons a {
    margin: 0 0.5rem;
    color: var(--clr-primary-5);
    transition: var(--transition);
  }

  .social-icons a:hover {
    color: var(--clr-primary-7);
  }
}

/*
=============== 
Introduction
===============
*/

.introduction-container {
  margin-left: 5rem;
  margin-right: 5rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

/*  global classes */

.btn {
  text-transform: uppercase;
  background: transparent;
  color: var(--clr-black);
  padding: 0.375rem 0.75rem;
  letter-spacing: var(--spacing);
  display: inline-block;
  transition: var(--transition);
  font-size: 0.875rem;
  border: 2px solid var(--clr-black);
  cursor: pointer;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
  border-radius: var(--radius);
}

.btn:hover {
  color: var(--clr-white);
  background: var(--clr-black);
}

/* section */
.section {
  padding: 5rem 0;
}

.section-center {
  width: 90vw;
  margin: 2rem auto;
  max-width: 1170px;
}

.section-center-home {
  background-image: url(../images/home-hero.jpg);
  width: 90vw;
  margin: 2rem auto;
  max-width: 1170px;
}

main {
  /* min-height: 50vh; */
  display: grid;
  place-items: center;
}

/*
=============== 
Countdown Timer
===============
*/

.home-img {
  margin-bottom: 2rem;
}

.home-info h3 {
  text-transform: uppercase;
  color: var(--clr-primary-3);
}

.home-info p {
  color: var(--clr-grey-6);
}

.date {
  color: var(--clr-grey-5);
  font-size: 0.85rem;
}

@media screen and (min-width: 992px) {
  .section-center {
    display: grid;
    grid-template-columns: 1fr 1fr;
    place-items: center;
    gap: 3rem;
    width: 95vw;
  }

  .home-img {
    margin-bottom: 0;
  }
}

.home-info p {
  margin: 2rem 0;
}

.deadline {
  display: flex;
}

.deadline-format {
  background: var(--clr-grey-1);
  color: var(--clr-white);
  margin-right: 1rem;
  width: 5rem;
  height: 5rem;
  display: grid;
  place-items: center;
  text-align: center;
}

.deadline-format span {
  display: block;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 0.85rem;
}

.deadline h4:not(.expired) {
  font-size: 2rem;
  margin-bottom: 0.25rem;
  letter-spacing: var(--spacing);
}

/*
=============== 
Button
===============
*/

.button__link {
  background-color: var(--clr-magenta);
  border-radius: 9999px;
  box-shadow: none;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-size: 1.125em;
  padding: calc(0.667em + 2px) calc(1.333em + 2px);
  text-align: center;
  text-decoration: none;
  word-break: break-word;
}

/*
=============== 
Footer
===============
*/


#footer-container {
  background-color: var(--clr-primary-1);
  margin-top: 10px;
  margin-bottom: -50px;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 10px;
}

.emailSignup {
  display: block;
  background: var(--clr-primary-1);
  width: 100%;
  margin: 0 0 1rem;
  position: relative;
  box-sizing: border-box;
  padding: 20px;
  text-align: center;
}

.emailSignup h1 {
  font-size: 3rem;
  margin: 0 0 10px;
  color: var(--clr-white);
}

.emailSignup h2 {
  font-size: 2rem;
  margin: 0 0 10px;
  color: var(--clr-white);
}

.emailSignup h3 {
  font-size: 1.5rem;
  margin: 0 0 10px;
  color: var(--clr-primary-8);
}


.emailSignup p {
  font-size: 1rem;
  line-height: 1.4;
  margin: 1rem;
  color: var(--clr-primary-10);
}

.emailSignup form {
  text-align: center;
}

.emailSignup--email-input {
  vertical-align: middle;
  border: 0;
  outline: 0;
  width: 50%;
  height: 46px;
  line-height: 46px;
  padding: 5px 20px;
  box-sizing: border-box;
  font-size: 18px;
  border-radius: 3px;
}

.emailSignup--email-submit {
  vertical-align: middle;
  border: 0;
  width: 18%;
  height: 46px;
  line-height: 46px;
  font-size: 22px;
  font-weight: bold;
  background: var(--clr-primary-5);
  color: var(--clr-primary-10);
  border-radius: 3px;
  text-transform: uppercase;
  text-shadow: 0 0 1px var(--clr-primary-5);
}

.closeBox {
  height: 30px;
  width: 30px;
  position: absolute;
  top: 10px;
  right: 10px;
  background: var(--clr-primary-10);
  line-height: 30px;
  text-align: center;
  font-weight: bold;
  font-size: 16px;
  border-radius: 9999px;
  cursor: pointer;
}


/*
=============== 
Form
===============
*/

.form-container {
  max-width: 30rem;
  width: 100%;
  margin: 0 auto;
  position: relative;
}

#contact input[type="text"],
#contact input[type="email"],
#contact input[type="tel"],
#contact input[type="url"],
#contact textarea,
#contact button[type="submit"] {
  font: 400 12px/16px "Roboto", Helvetica, Arial, sans-serif;
}

#contact {
  background: #F9F9F9;
  padding: 25px;
  margin: 150px 0;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}

#contact h3 {
  display: block;
  font-size: 30px;
  font-weight: 300;
  margin-bottom: 10px;
}

#contact h4 {
  margin: 5px 0 15px;
  display: block;
  font-size: 13px;
  font-weight: 400;
}

fieldset {
  border: medium none !important;
  margin: 0 0 10px;
  min-width: 100%;
  padding: 0;
  width: 100%;
}

#contact input[type="text"],
#contact input[type="email"],
#contact input[type="tel"],
#contact input[type="url"],
#contact textarea {
  width: 100%;
  border: 1px solid #ccc;
  background: #FFF;
  margin: 0 0 5px;
  padding: 10px;
}

#contact input[type="text"]:hover,
#contact input[type="email"]:hover,
#contact input[type="tel"]:hover,
#contact input[type="url"]:hover,
#contact textarea:hover {
  -webkit-transition: border-color 0.3s ease-in-out;
  -moz-transition: border-color 0.3s ease-in-out;
  transition: border-color 0.3s ease-in-out;
  border: 1px solid #aaa;
}

#contact textarea {
  height: 100px;
  max-width: 100%;
  resize: none;
}

#contact button[type="submit"] {
  cursor: pointer;
  width: 100%;
  border: none;
  background: black;
  color: #FFF;
  margin: 0 0 5px;
  padding: 10px;
  font-size: 15px;
}

#contact button[type="submit"]:hover {
  background: #43A047;
  -webkit-transition: background 0.3s ease-in-out;
  -moz-transition: background 0.3s ease-in-out;
  transition: background-color 0.3s ease-in-out;
}

#contact button[type="submit"]:active {
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.5);
}

.copyright {
  text-align: center;
}

#contact input:focus,
#contact textarea:focus {
  outline: 0;
  border: 1px solid #aaa;
}

::-webkit-input-placeholder {
  color: #888;
}

:-moz-placeholder {
  color: #888;
}

::-moz-placeholder {
  color: #888;
}

:-ms-input-placeholder {
  color: #888;
}

/*
=============== 
Form
===============
*/

/*
=========
Studio growth
=========
*/

* {
  box-sizing: border-box;
}

.home-section-center {
  width: 100vh;
  max-width: 1170px;
  height: 60vw;
  background-image: url(../images/cornwall.jpg);
  overflow: hidden;
}

.flex-container {
  margin-left: 5rem;
  margin-right: 5rem;
  margin-top: 5rem;
  margin-bottom: 1rem;
  display: flex;
  flex-direction: row;
  text-align: center;
}

.flex-item {
  padding: 1rem;
  margin: 1rem;
  width: 20rem;
  flex: 50%;
  background-color: #fff;
  box-shadow: var(--light-shadow);

}

.flex-item p {
  padding-top: 1rem;
}

.flex-item h4 {
  padding-top: 1rem;
  text-transform: uppercase;
  size-adjust: 150%;
}


/* Responsive layout - makes a one column-layout instead of two-column layout */
@media (max-width: 1200px) {
  .flex-container {
    flex-direction: column;
  }
}

/* 
=========
Studio accordians
=========
*/

.container__accordion {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: .5rem .5rem;
}

.accordion {
  list-style: none;
  max-width: 550px;
  width: 90%;
}

.accordion__item {
  margin-bottom: .8rem;
  border: 1px solid #F2F2F2;
  transition: all .2s linear;
}

.accordion__item.open {
  box-shadow: 0 5px 15px rgba(0, 0, 0, .1);
}

.accordion__item__head {
  padding: 1rem;
}

.accordion__item__head {
  background: var(--clr-primary-1);
  color: var(--clr-white);
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.accordion__item__head i {
  transition: transform .3s linear;
}

.accordion__item.open .accordion__item__head i {
  transform: rotate(-180deg)
}

.accordion__item__body {
  overflow: hidden;
  height: 0;
}

.accordion__item.open .accordion__item__body {
  padding: 1rem;
  height: auto;
}

.accordion__item__body>*:not(:first-child) {
  margin-top: .8rem;
}

.accordion__item__body p {
  font-size: .9rem;
  line-height: 1.3;
}

/* 
=============
Game
=============
*/

#content {
  width: 600px;
  margin: 0 auto;
  margin-top: 50px;
  border: 1px dotted black;
  text-align: center;
  font-family: 'Helvetica Neue', arial;
  font-weight: 100;
}

div.eight-ball {
  background-color: black;
  border: 1px solid black;
  border-radius: 50%;
  width: 300px;
  height: 300px;
  margin: 0 auto;
  margin-bottom: 30px;
  margin-top: 30px;
}

div.answer {
  background-color: #333;
  border: 1px solid #333;
  border-radius: 50%;
  width: 50%;
  height: 50%;
  margin: 25% auto;
}

p#eight {
  font-size: 5em;
  margin: 20% auto;
  color: white;
}

p#answer {
  padding: 23px;
  color: lightblue;
  letter-spacing: 2px;
  font-size: 18px;
}

#question {
  margin: 20px;
  padding: 10px;
  width: 400px;
  font-size: 22px;
}

#info {
  font-size: 22px;
}

/* 
 =============
 Inspiration
 =============
  */

.myBtn {
  background-image: url(../images/kind-enso-circle.png);
}



/* 
===============
Quote generator
===============
 */


.quiz-section-center {
  width: 90vw;
  margin: 2rem auto;
  max-width: 1170px;
  height: 40vw;
}

#quote {
  height: 30rem;
  padding-left: 5rem;
  padding-right: 5rem;
  padding-top: 5rem;
  padding-bottom: 8rem;
  box-shadow: var(--light-shadow);
}


/* 
==========
Modal home
==========
 */
.hero {
  min-height: 100vh;
  background: url(../assets/images/home-hero);
  display: grid;
  place-items: center;
}

.banner {
  background: var(--clr-white);
  padding: 4rem 0;
  border-radius: var(--radius);
  box-shadow: var(--light-shadow);
  text-align: center;
  width: 90vw;
  max-width: var(--fixed-width);
}

.modal-btn {
  margin-top: 2rem;
  background: var(--clr-primary-5);
  border-color: var(--clr-primary-5);
  color: var(--clr-white);
}

.modal-btn:hover {
  background: transparent;
  color: var(--clr-primary-5);
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(73, 166, 233, 0.5);
  display: grid;
  place-items: center;
  transition: var(--transition);
  visibility: hidden;
  z-index: -10;
}

/* OPEN/CLOSE MODAL */
.open-modal {
  visibility: visible;
  z-index: 10;
}

.modal-container {
  background: var(--clr-white);
  border-radius: var(--radius);
  width: 90vw;
  height: 30vh;
  max-width: var(--fixed-width);
  text-align: center;
  display: grid;
  place-items: center;
  position: relative;
}

.close-btn {
  position: absolute;
  top: 1rem;
  right: 1rem;
  font-size: 2rem;
  background: transparent;
  border-color: transparent;
  color: var(--clr-red-dark);
  cursor: pointer;
  transition: var(--transition);
}

.close-btn:hover {
  color: var(--clr-red-light);
  transform: scale(1.3);
}